body{
  padding-bottom: 70px;
  background-image: url("../images/dust_scratches.png");
}

.nav-link{
  font-size: 12px;
}

.mainBody{
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ffffff;
  min-height: 80%;
}

.logo{
  background-color: teal;
  color: #ffffff;
  padding: 10px;
  margin: 0px;
}
.caption{
  border-bottom: 2px gray solid;
  color: teal;
  padding:10px;
}

.header{
  background-color: #ffffff;
}

.footer{
  text-align: center;
  color: gainsboro;
  font-size: 12px;
  background-color: #666666;
  border-top: 8px solid #4aaaa5;
  padding: 10px;
}

textarea{
  width: 100%;
  columns: 5;
}

.inputBox{
  width: 100%;
}

.submitBtn{
  background-color: #4aaaa5;
}


/* *{
  border: 1px black solid;
} */


